{% block body %}

	{# navbar mobil #}
	{% block puce %}
		<svg alt="Puce Image au format svg symbole typographique de forme losange carré" class="puce" width="21" height="19" viewbox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M17.1346 9.35389L11.6182 14.2607L11.5543 4.5071L17.1346 9.35389Z" fill="white"/>
			<rect x="0.00988758" y="0.470553" width="13.1482" height="13.7036" transform="matrix(0.75418 0.656668 -0.725929 0.687769 10.7991 0.140428)" stroke="white" stroke-width="0.7"/>
		</svg>
	{% endblock %}

	{# navbar top ,mobil #}
	{% block search %}
		<svg alt="icone recherche mappool" width="32" height="32" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
			<path fill="white" fill-rule="evenodd" clip-rule="evenodd" d="M12.9901 25.9806C5.81584 25.9806 0 20.1646 0 12.9903C0 5.81595 5.81584 0 12.9901 0C20.1643 0 25.9801 5.81595 25.9801 12.9903C25.9801 15.9921 24.9619 18.7561 23.2521 20.9558L31.9998 29.7036L29.7035 32L20.9559 23.2522C18.7561 24.9623 15.992 25.9806 12.9901 25.9806ZM22.7321 12.9906C22.7321 18.3713 18.3703 22.7333 12.9896 22.7333C7.60895 22.7333 3.24707 18.3713 3.24707 12.9906C3.24707 7.60981 7.60895 3.24785 12.9896 3.24785C18.3703 3.24785 22.7321 7.60981 22.7321 12.9906Z"/>
		</svg>
	{% endblock %}

	{# navbar top ,tablette #}
	{% block magnifying_glass %}
		<svg width="44" height="44" viewbox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="22" cy="22" r="22" fill="#2E3538"/>
			<circle cx="22" cy="22" r="20.75" stroke="white" stroke-opacity="0.29" stroke-width="2.5"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M19.7426 29.4856C14.3619 29.4856 10 25.1236 10 19.7428C10 14.362 14.3619 10 19.7426 10C25.1233 10 29.4853 14.362 29.4853 19.7428C29.4853 21.9942 28.7216 24.0672 27.4392 25.717L34 32.2779L32.2777 34.0002L25.717 27.4393C24.0672 28.7219 21.9941 29.4856 19.7426 29.4856ZM27.0492 19.7431C27.0492 23.7787 23.7778 27.0502 19.7423 27.0502C15.7068 27.0502 12.4353 23.7787 12.4353 19.7431C12.4353 15.7075 15.7068 12.436 19.7423 12.436C23.7778 12.436 27.0492 15.7075 27.0492 19.7431Z" fill="white"/>
		</svg>
	{% endblock %}


	{# navbar top #}
	{% block logo %}
		<svg alt="logo au format SVG du site Nathel" class="logo_nathel" width="auto" height="100%" viewbox="0 0 79 92" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M43.4432 30C49.7499 30.9922 55.4654 34.3658 59.5057 39.4261C63.4474 44.4864 65.4183 50.8366 64.9256 57.286C64.4329 63.7354 61.5751 69.6887 56.845 74.1537C52.115 78.5195 46.0053 81 39.6 81C33.1947 81 26.9865 78.6187 22.2564 74.2529C17.5263 69.8872 14.6686 63.9339 14.0773 57.4844C13.5846 51.035 15.4569 44.6848 19.3987 39.6245C23.3404 34.5642 29.0559 31.1907 35.3626 30.0992L35.8554 33.2743C30.3369 34.1673 25.3112 37.144 21.8622 41.6089C18.4132 46.0739 16.738 51.6303 17.1322 57.286C17.6249 62.9416 20.0885 68.2004 24.2273 71.9708C28.3661 75.8405 33.786 77.9241 39.4029 77.9241C45.0199 77.9241 50.4397 75.7412 54.5786 71.9708C58.7174 68.2004 61.1809 62.8424 61.6737 57.1868C62.0678 51.5311 60.3926 45.9747 56.9436 41.5097C53.4946 37.0447 48.4689 34.1673 42.8519 33.2743L43.4432 30Z" fill="#171A1C"/>
			<path d="M45.7294 26.202C52.8269 27.7174 59.1247 31.8593 63.4232 37.8197C67.7217 43.78 69.621 51.1547 68.8213 58.4284C68.0216 65.803 64.6228 72.5716 59.2246 77.4207C53.8265 82.2698 46.729 85.0984 39.4316 84.9974C32.1341 84.9974 25.1366 82.2698 19.7384 77.3196C14.3403 72.3695 10.9415 65.601 10.1418 58.2263C9.44203 50.8516 11.3414 43.578 15.6399 37.6176C19.9384 31.6573 26.2362 27.5153 33.4337 26L34.1334 29.4348C27.8356 30.7481 22.2376 34.3849 18.4389 39.6381C14.6402 44.8913 12.9408 51.3567 13.5406 57.8222C14.2404 64.2877 17.2393 70.3491 21.9377 74.693C26.736 79.037 32.9338 81.4616 39.3316 81.4616C45.7294 81.4616 52.0272 79.037 56.8255 74.693C61.6238 70.3491 64.6228 64.3887 65.3225 57.9232C66.0223 51.4578 64.3229 44.9923 60.5242 39.6381C56.8255 34.5869 51.3274 30.9501 45.0296 29.5358L45.7294 26.202Z" fill="#707779"/>
			<g id="main_logo">
				<path d="M43.7021 58.6998C44.3021 58.0998 45.0021 57.7998 45.7021 57.7998C46.4021 57.7998 47.1021 57.9998 47.7021 58.5998L66.6021 76.4998C71.5021 70.3998 74.2021 62.6998 74.1021 54.7998C74.0021 46.1998 70.6021 37.8998 64.7021 31.5998L68.2021 28.2998C75.0021 35.3998 78.8021 44.8998 78.9021 54.6998C79.0021 64.4998 75.4021 73.9998 68.9021 81.2998C68.7021 81.5998 68.5021 81.7998 68.2021 82.0998C67.6021 82.6998 67.0021 82.9998 66.2021 82.9998C65.5021 82.9998 64.8021 82.7998 64.2021 82.1998L43.8021 62.6998C42.7021 61.6998 42.6021 59.8998 43.7021 58.6998Z" fill="#780035"/>
				<path d="M35.102 51.0998C34.502 51.6998 33.802 51.9998 33.102 51.9998C32.402 51.9998 31.702 51.7998 31.102 51.1998L12.302 33.2998C7.40203 39.3998 4.70203 47.0998 4.80203 54.9998C4.90203 63.5998 8.30203 71.8998 14.202 78.1998L10.702 81.4998C4.00203 74.3998 0.102029 64.8998 0.00202901 55.0998C-0.097971 45.2998 3.50203 35.7998 10.002 28.4998C10.202 28.1998 10.402 27.9998 10.702 27.6998C11.302 27.0998 11.902 26.7998 12.602 26.7998C13.302 26.7998 14.002 26.9998 14.602 27.5998L35.002 47.0998C36.202 48.1998 36.202 49.9998 35.102 51.0998Z" fill="#006785"/>
			</g>
			<path d="M54.702 24.3C50.802 22.3 46.602 21 42.302 20.6V46.3C42.302 47.9 41.002 49.1 39.502 49.1C37.902 49.1 36.702 47.8 36.702 46.3V20.5C32.102 20.8 27.702 22 23.502 24.1L21.302 19.8C26.102 17.4 31.302 16 36.602 15.7V2.8C36.602 1.2 37.902 0 39.402 0C40.202 0 40.902 0.3 41.402 0.8C41.902 1.3 42.202 2 42.202 2.8V15.7C47.302 16.1 52.302 17.6 56.902 20L54.702 24.3Z" fill="#DFEEF2"/>
			<path d="M42.302 88.7996C42.302 90.3996 41.002 91.6996 39.502 91.6996C37.902 91.6996 36.702 90.3996 36.702 88.7996V63.4996C36.702 61.8996 38.002 60.5996 39.502 60.5996C40.302 60.5996 41.002 60.8996 41.502 61.4996C42.002 61.9996 42.302 62.7996 42.302 63.5996V88.7996Z" fill="#DFEEF2"/>
			<path d="M39.502 59.2998C41.9873 59.2998 44.002 57.2851 44.002 54.7998C44.002 52.3145 41.9873 50.2998 39.502 50.2998C37.0167 50.2998 35.002 52.3145 35.002 54.7998C35.002 57.2851 37.0167 59.2998 39.502 59.2998Z" fill="#DFEEF2"/>
		</svg>
	{% endblock %}

	{% block tourney_section %}
		<svg width="45" height="45" viewbox="0 0 45 45" xmlns="http://www.w3.org/2000/svg">
			<path d="M43.9621 38.8175C43.9486 38.8038 43.935 38.7901 43.9214 38.7767L42.1889 37.0837L39.0292 33.9042L36.6864 31.5615L38.7634 29.4845C39.1451 29.1006 39.1451 28.4805 38.7634 28.0966L36.5191 25.8523C36.1352 25.4706 35.515 25.4706 35.1312 25.8523L34.324 26.6594L31.0067 22.9484L44.1576 11.1757C44.354 10.9988 44.471 10.7505 44.4824 10.4866L44.9549 1.04673C44.9701 0.768164 44.8663 0.496239 44.6695 0.298631C44.4719 0.101762 44.1999 -0.00196359 43.9214 0.0131707L34.4815 0.475813C34.2176 0.487256 33.9693 0.604271 33.7924 0.800648L22.502 13.4593L11.1919 0.830055C11.015 0.633678 10.7667 0.516664 10.5028 0.505221L1.06293 0.0425781C0.784361 0.0274438 0.512436 0.131169 0.314828 0.328038C0.117959 0.525646 0.0142337 0.797572 0.0293681 1.07614L0.501854 10.516C0.513297 10.78 0.630311 11.0283 0.826688 11.2051L13.9972 23.0172L10.6898 26.6691L9.88267 25.862C9.49878 25.4803 8.87864 25.4803 8.49474 25.862L6.25044 28.1063C5.86875 28.4902 5.86875 29.1103 6.25044 29.4942L8.32741 31.5712L5.97482 33.9041L1.05309 38.8258C-0.354896 40.2393 -0.350466 42.5267 1.06305 43.9347C1.7377 44.6066 2.65031 44.9851 3.60254 44.9878C4.55884 44.991 5.47674 44.6118 6.152 43.9346L13.3771 36.7095L15.4541 38.7864C15.838 39.1681 16.4581 39.1681 16.842 38.7864L19.0863 36.5421C19.468 36.1582 19.468 35.5381 19.0863 35.1542L18.3185 34.2978L22.502 30.5672L26.6855 34.2978L25.8783 35.105C25.4966 35.4889 25.4966 36.109 25.8783 36.4929L28.1226 38.7372C28.5065 39.1189 29.1266 39.1189 29.5105 38.7372L31.5875 36.6603L33.9302 39.003L37.0998 42.1726L38.8126 43.8854C40.2121 45.3074 42.4994 45.3256 43.9214 43.9261C45.3434 42.5267 45.3616 40.2393 43.9621 38.8175ZM32.9065 28.0571L31.1741 29.7895L27.4729 26.0884L29.5105 24.2673L32.9065 28.0571ZM2.3918 9.97463L1.99806 2.03096L9.94173 2.4247L21.1239 14.9259L18.8402 17.4754L14.706 13.3411C14.293 12.9875 13.6717 13.0356 13.318 13.4485C13.0024 13.817 13.0024 14.3605 13.318 14.729L17.5803 18.9519L15.3163 21.5013L2.3918 9.97463ZM4.74439 42.4581C4.43702 42.7674 4.01892 42.941 3.58286 42.9404C2.67751 42.8732 1.99794 42.0847 2.06524 41.1794C2.09207 40.8173 2.23812 40.4744 2.48039 40.2039L3.46474 39.2196L5.76811 41.4934L4.74439 42.4581ZM7.14619 40.0563L4.88219 37.7824L6.66386 36.0007L8.98692 38.3238L7.14619 40.0563ZM10.3256 36.8768L8.00257 34.5538L9.70549 32.9591L12.0285 35.2822L10.3256 36.8768ZM16.1333 36.611L14.0661 34.5439L10.3552 30.8329L8.32741 28.7953L9.17394 27.9488L17.0487 35.8236L16.1333 36.611ZM16.8715 32.8607L15.1391 31.1282L31.5777 14.6897C31.9906 14.336 32.0387 13.7147 31.6851 13.3017C31.3315 12.8888 30.7101 12.8407 30.2971 13.1943C30.2586 13.2273 30.2227 13.2632 30.1897 13.3017L13.7512 29.7403L12.0187 28.0079L16.0545 23.4995L35.013 2.43454L42.9567 2.0408L42.563 9.98448L28.9593 22.1412L16.8715 32.8607ZM23.9194 29.1891L26.0358 27.4074L29.8058 31.1775L28.0734 32.9099L23.9194 29.1891ZM30.8099 34.5341L28.8116 36.6603L27.9651 35.8137L35.8399 27.939L36.6864 28.7855L34.6094 30.8625L30.8099 34.5341ZM32.8967 35.233L35.2985 32.9591L36.9423 34.603L34.6193 36.926L32.8967 35.233ZM37.72 40.0563L35.9383 38.2746L38.2614 35.9515L40.043 37.7332L37.72 40.0563ZM42.5236 42.5073L42.4448 42.4581C41.7946 43.0781 40.7721 43.0781 40.1218 42.4581L39.1374 41.4737L41.5097 39.2196L42.4941 40.2039C43.1302 40.8352 43.1432 41.8598 42.5236 42.5073Z"/>
		</svg>
	{% endblock %}

	{% block guide_section %}
		<svg width="45" height="45" viewbox="0 0 45 45" xmlns="http://www.w3.org/2000/svg">
			<path d="M32.2246 32.0488H34.8613V38.7987H32.2246V32.0488Z"/>
			<path d="M33.5402 30.2969C34.2298 30.2969 34.8904 29.6905 34.8585 28.9785C34.8265 28.2642 34.2792 27.6602 33.5402 27.6602C32.8506 27.6602 32.1899 28.2665 32.2218 28.9785C32.2538 29.6928 32.8011 30.2969 33.5402 30.2969Z"/>
			<path d="M35.8679 22.4262V0H5.79419C2.59928 0 0 2.52281 0 5.71772V39.3763H0.0278613C0.320713 42.5259 2.9773 45 6.202 45H33.5575C39.8669 45 45 39.9434 45 33.6341C45 28.1159 41.0736 23.4977 35.8679 22.4262ZM33.2271 22.1968C27.4176 22.3625 22.6794 26.8794 22.1628 32.5959H10.6037V2.56438H33.2271V22.1968ZM5.79419 2.56438H7.96271V32.5959H6.202C4.8774 32.5959 3.64948 33.0147 2.64085 33.7249V5.71772C2.64085 3.9789 4.05545 2.56438 5.79419 2.56438ZM6.202 42.3591C4.23835 42.3591 2.64085 40.7616 2.64085 38.798C2.64085 36.8343 4.23835 35.2368 6.202 35.2368H22.2279C22.3378 36.017 22.5263 36.7721 22.7857 37.4939H6.69217V40.1347H24.1466C24.7196 40.9617 25.3985 41.7097 26.1638 42.3592H6.202V42.3591ZM33.5576 42.4356C28.7044 42.4356 24.7561 38.4872 24.7561 33.6341C24.7561 28.7809 28.7044 24.8325 33.5576 24.8325C38.4108 24.8325 42.3591 28.7809 42.3591 33.6341C42.3591 38.4872 38.4108 42.4356 33.5576 42.4356Z"/>
			<path d="M17.6484 7.69922H26.4868V10.3401H17.6484V7.69922Z"/>
			<path d="M14.6621 13.4316H29.4714V16.0725H14.6621V13.4316Z"/>
		</svg>
	{% endblock %}

	{% block mappool_section %}
		<svg width="47" height="45" viewbox="0 0 47 45" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M36.25 38.625C38.5972 38.625 40.5 36.7222 40.5 34.375H42.625C44.9722 34.375 46.875 32.4722 46.875 30.125V8.875C46.875 6.52779 44.9722 4.625 42.625 4.625H40.5C40.5 2.27779 38.5972 0.375 36.25 0.375H10.75C8.40279 0.375 6.5 2.27779 6.5 4.625H4.375C2.02779 4.625 0.125 6.52779 0.125 8.875V30.125C0.125 32.4722 2.02779 34.375 4.375 34.375H6.5C6.5 36.7222 8.40279 38.625 10.75 38.625H36.25ZM36.2502 4.62515V34.3751H10.7502V4.62515H36.2502ZM23.4998 19.7986V9.1545L33.1785 15.607L30.821 19.1432L27.7498 17.0957V24.8126C27.7498 27.9011 24.7845 30.1251 21.3748 30.1251C17.9651 30.1251 14.9998 27.9011 14.9998 24.8126C14.9998 21.7241 17.9651 19.5001 21.3748 19.5001C22.1124 19.5001 22.8293 19.6042 23.4998 19.7986ZM4.37522 8.87485H6.50022V30.1248H4.37522V8.87485ZM40.4998 8.87485V30.1248H42.6248V8.87485H40.4998ZM23.5 24.8126C23.5 25.2449 22.6597 25.8751 21.375 25.8751C20.0903 25.8751 19.25 25.2449 19.25 24.8126C19.25 24.3804 20.0903 23.7501 21.375 23.7501C22.6597 23.7501 23.5 24.3804 23.5 24.8126Z"/>
		</svg>
	{% endblock %}

	{% block login %}
		<svg alt="Logo login SVG" width="29" height="29" viewbox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4993 28.7077C6.6523 28.7077 0.291016 22.3464 0.291016 14.4993C0.291016 6.6523 6.6523 0.291016 14.4993 0.291016C22.3464 0.291016 28.7077 6.6523 28.7077 14.4993C28.7077 22.3464 22.3464 28.7077 14.4993 28.7077ZM24.057 21.1187C25.3605 19.2402 26.1243 16.959 26.1243 14.4994C26.1243 8.07906 20.9196 2.87437 14.4993 2.87437C8.07903 2.87437 2.87434 8.07906 2.87434 14.4994C2.87434 16.959 3.6382 19.2402 4.94164 21.1187C6.39342 19.2011 9.80232 18.3765 14.4807 18.3743C11.5974 18.3656 9.33269 16.3336 9.33269 11.916C9.33269 9.01723 11.3724 6.74937 14.4994 6.74937C17.6177 6.74937 19.666 9.23141 19.666 12.1744C19.666 16.4013 17.3744 18.3658 14.5181 18.3743C19.1964 18.3765 22.6053 19.2011 24.057 21.1187ZM22.2037 23.2049C21.8257 21.8455 19.1098 20.9577 14.4993 20.9577C9.88886 20.9577 7.17297 21.8455 6.79495 23.2049C8.84609 25.0215 11.5439 26.1244 14.4993 26.1244C17.4548 26.1244 20.1526 25.0215 22.2037 23.2049ZM11.916 11.916C11.916 14.8472 12.9729 15.791 14.4993 15.791C16.0206 15.791 17.0827 14.8848 17.0827 12.1744C17.0827 10.5603 16.0696 9.33269 14.4993 9.33269C12.8638 9.33269 11.916 10.3865 11.916 11.916Z" fill="white"/>
		</svg>
	{% endblock %}

	{# navbar side#}
	{% block home %}
		<svg class="" alt="Logo home SVG" width="25" height="25" viewbox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
			<path d="M12.5001 4.56836L3.584 11.9188C3.584 11.9291 3.58139 11.9444 3.57618 11.9652C3.57108 11.9859 3.56836 12.0008 3.56836 12.0115V19.4546C3.56836 19.7233 3.66661 19.9562 3.86306 20.1523C4.05945 20.3486 4.29202 20.4473 4.56081 20.4473H10.5151V14.4927H14.4852V20.4475H20.4394C20.7082 20.4475 20.9411 20.349 21.1372 20.1523C21.3336 19.9564 21.4322 19.7234 21.4322 19.4546V12.0115C21.4322 11.9702 21.4266 11.939 21.4166 11.9188L12.5001 4.56836Z"/>
			<path d="M24.8275 10.2445L21.4318 7.42232V1.09559C21.4318 0.950955 21.3853 0.832011 21.292 0.738918C21.1994 0.645935 21.0805 0.599443 20.9355 0.599443H17.9583C17.8135 0.599443 17.6947 0.645935 17.6015 0.738918C17.5086 0.832011 17.4621 0.95101 17.4621 1.09559V4.11934L13.6786 0.955898C13.3482 0.687104 12.9553 0.552734 12.5004 0.552734C12.0455 0.552734 11.6526 0.687104 11.3219 0.955898L0.17231 10.2445C0.068953 10.3271 0.0123049 10.4382 0.00176828 10.5778C-0.00871406 10.7173 0.0274039 10.8391 0.110231 10.9424L1.07162 12.0899C1.15445 12.1829 1.26285 12.2397 1.39728 12.2606C1.52138 12.271 1.64549 12.2347 1.76959 12.152L12.5 3.20444L23.2306 12.152C23.3135 12.2241 23.4218 12.2601 23.5562 12.2601H23.6028C23.737 12.2397 23.8452 12.1824 23.9285 12.0897L24.89 10.9423C24.9727 10.8388 25.0089 10.7172 24.9981 10.5776C24.9875 10.4384 24.9307 10.3272 24.8275 10.2445Z"/>
		</svg>
	{% endblock %}

	{% block explore %}
		<svg class="" alt="Logo boussole SVG" width="20" height="20" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.23 11.08C8.94 10.87 8.75 10.57 8.69 10.22C8.63 9.87 8.71 9.51 8.92 9.23C9.13 8.94 9.43 8.75 9.78 8.69C10.13 8.63 10.48 8.71 10.77 8.92C11.06 9.13 11.25 9.43 11.31 9.78C11.37 10.13 11.29 10.49 11.08 10.77C10.9577 10.9427 10.7958 11.0836 10.608 11.1811C10.4201 11.2785 10.2116 11.3295 10 11.33C9.72 11.33 9.45 11.25 9.23 11.08ZM20 10C20 15.52 15.52 20 10 20C4.48 20 0 15.52 0 10C0 4.48 4.48 0 10 0C15.52 0 20 4.48 20 10ZM16.03 3.97L7.8 7.8L3.97 16.03L12.2 12.2L16.03 3.97Z"/>
		</svg>
	{% endblock %}

	{% block mymappool %}
		<svg class="" alt="Logo note sur deux carrés supperposés SVG" width="25" height="25" viewbox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M8 2H20C21.1 2 22 2.9 22 4V16C22 17.1 21.1 18 20 18H8C6.9 18 6 17.1 6 16V4C6 2.9 6.9 2 8 2ZM8 16H20V4H8V16ZM12.5 15C13.88 15 15 13.88 15 12.5V7H18V5H14V10.51C13.58 10.19 13.07 10 12.5 10C11.12 10 10 11.12 10 12.5C10 13.88 11.12 15 12.5 15ZM2 6H4V20H18V22H4C2.9 22 2 21.1 2 20V6Z"/>
		</svg>
	{% endblock %}

	{# navbar side ,mobil top#}
	{% block burger %}
		<div class="mx-auto">
			<svg alt="Icone menu burger animée au format SVG" width="40" height="40" viewbox="0 0 100 100">
				<path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
				<path class="line line2" d="M 20,50 H 80"/>
				<path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
			</svg>
		</div>
	{% endblock %}

	{% block twitter %}
		<svg alt="Logo twitter format SVG" width="52" height="52" viewbox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="26" cy="26" r="26" fill="#2E3538"/>
			<circle cx="26" cy="26" r="24.75" stroke="#00ACEE" stroke-opacity="0.29" stroke-width="2.5"/>
			<path d="M42 16.285C40.81 16.807 39.542 17.153 38.22 17.321C39.58 16.509 40.618 15.233 41.106 13.695C39.838 14.451 38.438 14.985 36.946 15.283C35.742 14.001 34.026 13.207 32.154 13.207C28.522 13.207 25.598 16.155 25.598 19.769C25.598 20.289 25.642 20.789 25.75 21.265C20.296 20.999 15.47 18.385 12.228 14.403C11.662 15.385 11.33 16.509 11.33 17.719C11.33 19.991 12.5 22.005 14.244 23.171C13.19 23.151 12.156 22.845 11.28 22.363C11.28 22.383 11.28 22.409 11.28 22.435C11.28 25.623 13.554 28.271 16.536 28.881C16.002 29.027 15.42 29.097 14.816 29.097C14.396 29.097 13.972 29.073 13.574 28.985C14.424 31.583 16.836 33.493 19.704 33.555C17.472 35.301 14.638 36.353 11.57 36.353C11.032 36.353 10.516 36.329 10 36.263C12.906 38.137 16.35 39.207 20.064 39.207C32.136 39.207 38.736 29.207 38.736 20.539C38.736 20.249 38.726 19.969 38.712 19.691C40.014 18.767 41.108 17.613 42 16.285Z" fill="#00ACEE"/>
		</svg>
	{% endblock %}

	{% block twitch %}
		<svg alt="Logo twitch format SVG" width="52" height="52" viewbox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="26" cy="26" r="26" fill="#2E3538"/>
			<circle cx="26" cy="26" r="24.75" stroke="#A1A1A1" stroke-opacity="0.29" stroke-width="2.5"/>
			<path d="M37.5652 16.6359C34.7965 14.3958 30.416 14.0161 30.2282 14.0028C30.0855 13.991 29.9427 14.0241 29.8195 14.0975C29.6964 14.1709 29.599 14.281 29.5409 14.4125C29.4573 14.6015 29.3864 14.7958 29.3287 14.9942C31.1603 15.3054 33.4101 15.9311 35.4456 17.2008C35.5232 17.2492 35.5906 17.3125 35.6439 17.3872C35.6972 17.4618 35.7354 17.5462 35.7562 17.6356C35.777 17.7251 35.7801 17.8177 35.7653 17.9084C35.7505 17.999 35.7181 18.0858 35.6699 18.1639C35.6217 18.2419 35.5587 18.3097 35.4845 18.3632C35.4102 18.4168 35.3262 18.4551 35.2372 18.4761C35.1483 18.497 35.056 18.5001 34.9659 18.4853C34.8757 18.4704 34.7893 18.4378 34.7117 18.3894C31.2125 16.2059 26.8424 16.0975 26 16.0975C25.1583 16.0975 20.7854 16.2066 17.2883 18.3887C17.2107 18.4371 17.1243 18.4697 17.0341 18.4846C16.944 18.4994 16.8517 18.4963 16.7628 18.4754C16.583 18.4331 16.4274 18.3208 16.3301 18.1632C16.2328 18.0056 16.2017 17.8155 16.2438 17.6349C16.2859 17.4543 16.3976 17.2979 16.5544 17.2001C18.5899 15.9339 20.8397 15.3054 22.6713 14.997C22.5656 14.6503 22.4696 14.4314 22.4626 14.4125C22.4047 14.2801 22.3069 14.1693 22.1829 14.0958C22.059 14.0222 21.9152 13.9897 21.7718 14.0028C21.584 14.0168 17.2035 14.3958 14.3965 16.6659C12.9322 18.0279 10 25.992 10 32.8773C10 33.0004 10.0327 33.1178 10.0925 33.2241C12.1141 36.7968 17.6334 37.7302 18.8911 37.7714H18.9127C19.0225 37.7717 19.1307 37.7459 19.2287 37.6961C19.3266 37.6462 19.4114 37.5738 19.4762 37.4848L20.7471 35.7257C17.3155 34.8357 15.5624 33.3227 15.4623 33.2325C15.3239 33.1097 15.2397 32.9368 15.2282 32.7516C15.2167 32.5665 15.2789 32.3843 15.401 32.2453C15.5232 32.1062 15.6953 32.0216 15.8795 32.0101C16.0637 31.9985 16.2449 32.061 16.3833 32.1838C16.4237 32.2222 19.6522 34.9748 26 34.9748C32.3583 34.9748 35.5868 32.211 35.6195 32.1838C35.7583 32.0619 35.9395 32.0003 36.1234 32.0127C36.3073 32.025 36.4789 32.1102 36.6003 32.2495C36.6605 32.3181 36.7066 32.398 36.736 32.4846C36.7654 32.5712 36.7775 32.6627 36.7717 32.754C36.7659 32.8453 36.7422 32.9345 36.7021 33.0166C36.6619 33.0987 36.6061 33.1721 36.5377 33.2325C36.4376 33.3227 34.6845 34.8357 31.2529 35.7257L32.5245 37.4848C32.5892 37.5737 32.6739 37.6461 32.7717 37.6959C32.8695 37.7457 32.9777 37.7716 33.0873 37.7714H33.1082C34.3673 37.7302 39.8859 36.7961 41.9082 33.2241C41.9673 33.1178 42 33.0004 42 32.8773C42 25.992 39.0678 18.0286 37.5652 16.6359ZM21.4783 30.0807C20.1329 30.0807 19.0435 28.8292 19.0435 27.284C19.0435 25.7389 20.1329 24.4874 21.4783 24.4874C22.8237 24.4874 23.913 25.7389 23.913 27.284C23.913 28.8292 22.8237 30.0807 21.4783 30.0807ZM30.5217 30.0807C29.1763 30.0807 28.087 28.8292 28.087 27.284C28.087 25.7389 29.1763 24.4874 30.5217 24.4874C31.8671 24.4874 32.9565 25.7389 32.9565 27.284C32.9565 28.8292 31.8671 30.0807 30.5217 30.0807Z" fill="white"/>
		</svg>
	{% endblock %}

{% endblock %}
