{% extends 'base.html.twig' %}

{% block title %}! ZoneTest !
{% endblock %}

{% block body %}

	<div class="mappool-margin-top">
		<div class="card mappool-skew mt-5 p-5">
			{% block mappool_card %}

				<div class="row row-col-1 row-cols-md-2 my-md-auto px-md-5 mx-md-5">
					<div class="card bg-transparent border-0 pb-md-5 mb-md-5">
						{% block mappool_card_col %}
							<div
								class="mappool-global-card col">

								{#{% for popular_mappool in mappools %}#}
								{% block mappool_card_foreach %}
									<div class="negative-mappool-skew">
										<div class="card mappool-card shadow mx-2 mb-md-5">
											<img src="{{ asset('build/default_mappool_card_img.png') }}" class="mappool-card-img card-img" alt="...">
											<div class="card-img-overlay">
												<div class="d-flex">
													<h5 class="card-title">From collection
														{#mappool.tittle#}
														KimiPool Challenge</h5>
												</div>
												<div class="d-flex">
													<p class="card-text">
														From collection{#collection.tittle#}Dan Project<br>
														submitted by
														{#user.mappool#}
														Nath<br>
														26
														{#total.mappool#}
														maps
													</p>
												</div>
											</div>

											<div class="d-none d-md-block card bg-transparent border-0">
												{% for i in 0..3 %}
													{% block card_beatmap %}
														<div class="card m-2 beatmap-card"><img src="{{ asset('build/default_beatmap_img.png') }}" class="card-img" alt="...">
															<div class=" card-img-overlay">
																<p class="card-text">
																	From collection{#collection.tittle#}Dan Project<br>
																	submitted by
																	{#user.mappool#}
																	Nath<br>
																	26
																	{#total.mappool#}
																	maps
																</p>
															</div>
														</div>
													{% endblock %}
												{% endfor %}
											</div>
										</div>
									</div>
								{% endblock %}
								{{ block("mappool_card_foreach") }}
							</div>
							{#{% endfor %}#}

						{% endblock %}
					</div>
					<div class="col">
						<div class="card bg-transparent border-0 pt-md-5 mt-md-5">
							{{ block("mappool_card_col") }}
						</div>
					</div>
				</div>
			{% endblock %}
			
		</div>
	</div>


{% endblock %}
